<div>
  <link href="./feature-card.css" rel="stylesheet" />
  <div class="feature-card-container">
    <img
      alt="image"
      src="/playground_assets/rocket1.svg"
      class="feature-card-image"
    />
    <h5 class="feature-card-text HeadingThree">
      <span>QUALITY ASSURANCE</span>
    </h5>
    <span class="feature-card-text1">
      <span>
        All our produce from associated growers is closely monitored in various
        growth stages till packaging, the produce can be tested in
        APEDA-recognized laboratories as per the customer’s need.
      </span>
    </span>
  </div>
</div>
