<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <div class="footer-container1">
        <div class="footer-container2"></div>
        <span class="footer-text">Copyright © 2023 Nipha Agro.</span>
      </div>
      <div class="footer-container3">
        <div class="footer-container4">
          <span class="footer-text01 Large">Address</span>
          <span class="footer-text02">
            <span>Niphad, Nashik ,Maharashtra, ,</span>
            <br />
            <span>India -422303</span>
          </span>
        </div>
        <div class="footer-container5">
          <span class="footer-text06">Email</span>
          <span class="footer-text07">niphaagro@gmail.com</span>
        </div>
        <div class="footer-container6">
          <span class="footer-text08">Contact</span>
          <span class="footer-text09">+91- 7743814130</span>
        </div>
      </div>
    </div>
    <img
      alt="image"
      src="/public/playground_assets/waves-white.svg"
      class="footer-image"
    />
  </footer>
</div>
