.list-item-container {
  flex: 0 0 auto;
  width: 576px;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.list-item-text {
  font-style: normal;
  font-weight: 500;
}
.list-item-root-class-name {
  top: -31px;
  left: -142px;
  position: absolute;
}
.list-item-root-class-name1 {
  top: 389px;
  left: 81px;
  position: absolute;
}
